[Desktop Entry]
Name=Zotero
Exec=bash -c "/home/renemann/Zotero/zotero -url %U"
Icon=/home/renemann/Zotero/chrome/icons/default/default256.png
Type=Application
Terminal=false
Categories=Office;
MimeType=text/plain
